.form-section {
  margin-bottom: 20px;
}

.page-title {
  margin-bottom: 40px;
}

.signin-container {
  margin: 40px auto;
  width: 300px;
}
.signin-container h1 {
  margin-bottom: 40px;
}
.signin-container .signin-signup {
  display: block;
  margin-top: 20px;
}
